<div class="login">
  <div class="login__container">
    <form 
      [formGroup]="loginForm"
      class="login__form"
      (submit)="onSignInClick()"
    >
      <div class="login-form__header">
        <h1 class="sign-in">Sign In</h1>
        <p>Don't have an account? 
          <a 
            routerLink="/register"
            class="sign-up"
          >
            Sign Up
          </a>
        </p>
      </div>
      <div class="login-form__message">
        <div 
          *ngIf="error" 
          class="login-form__error"
        >
          {{ error }}
        </div>
      </div>
      <div class="login-form__inputs">
        <div class="login-form__input">
          <input 
            type="text" 
            class="form__field" 
            placeholder="Email" 
            id="email" 
            required=""
            formControlName="email"
          >
          <label 
            for="email" 
            class="form__label"
          >
            Email
          </label>
          <div
            *ngIf="isSubmitted" 
            class="form__error"
          >
            <p *ngIf="loginForm.get('email').hasError('required')">Field is required</p>
            <p 
              *ngIf="!loginForm.get('email').hasError('required') 
              && loginForm.get('email').hasError('maxlength')"
            >
              Field's max length is 32
            </p>
          </div>
        </div>
        <div class="login-form__input">
          <input 
            type="password" 
            class="form__field" 
            placeholder="Password" 
            id="password" 
            required=""
            formControlName="password"
          >
          <label 
            for="password" 
            class="form__label"
          >
            Password
          </label>
          <div
            *ngIf="isSubmitted" 
            class="form__error"
          >
            <p *ngIf="loginForm.get('password').hasError('required')">Field is required</p>
            <p 
              *ngIf="!loginForm.get('password').hasError('required') 
              && loginForm.get('password').hasError('maxlength')"
            >
              Field's max length is 32
            </p>
          </div>
        </div>
      </div>
      <div class="login-form__submit">
        <button 
          type="submit" 
          class="form-submit__button"
        >
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>
