<div class="register">
  <div class="register__container">
    <form
      [formGroup]="registerForm" 
      class="register__form"
      (submit)="onSignUpClick()"
    >
      <div class="register-form__header">
        <h1 class="sign-in">Sign Up</h1>
        <p>Already have an account? 
          <a 
            routerLink="/login"
            class="sign-up"
          >
            Sign In
          </a>
        </p>
      </div>
      <div class="login-form__message">
        <div 
          *ngIf="error" 
          class="login-form__error"
        >
          {{ error }}
        </div>
      </div>
      <div class="register-form__inputs">
        <div class="register-form__input">
          <input 
            type="text" 
            class="form__field" 
            placeholder="Email" 
            id="email" 
            required=""
            formControlName="email"
          >
          <label 
            for="email" 
            class="form__label"
          >
            Email
          </label>
          <div
            *ngIf="isSubmitted" 
            class="form__error"
          >
            <p *ngIf="registerForm.get('email').hasError('required')">Field is required</p>
            <p 
              *ngIf="!registerForm.get('email').hasError('required') 
              && registerForm.get('email').hasError('maxlength')"
            >
              Field's max length is 32
            </p>
          </div>
        </div>
        <div class="register-form__input">
          <input 
            type="password" 
            class="form__field" 
            placeholder="Password" 
            id="password" 
            required=""
            formControlName="password"
          >
          <label 
            for="password" 
            class="form__label"
          >
            Password
          </label>
          <div
            *ngIf="isSubmitted" 
            class="form__error"
          >
            <p *ngIf="registerForm.get('password').hasError('required')">Field is required</p>
            <p 
              *ngIf="!registerForm.get('password').hasError('required') 
              && registerForm.get('password').hasError('maxlength')"
            >
              Field's max length is 32
            </p>
          </div>
        </div>
      </div>
      <div class="register-form__submit">
        <button 
          type="submit" 
          class="form-submit__button"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
